apiVersion: apps/v1
kind: Deployment
metadata:
  name: ubuntu-dispatch
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ubuntu-dispatch
  template:
    metadata:
      labels:
        app: ubuntu-dispatch
    spec:
      containers:
        - name: ubuntu-dispatch
          image: ubuntu-dispatch:v1
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
            - name: RABBITMQ_DEFAULT_USER
              valueFrom:
                secretKeyRef:
                  name: rabbitmq-secret
                  key: rabbitmq-username
            - name: RABBITMQ_DEFAULT_PASS
              valueFrom:
                secretKeyRef:
                  name: rabbitmq-secret
                  key: rabbitmq-password
          
          resources:
            requests:
              cpu: "250m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"

---
apiVersion: v1
kind: Service
metadata:
  name: dispatch
spec:
  selector:
    app: ubuntu-dispatch
  ports:
    - port: 8080
      targetPort: 8080
  type: ClusterIP     
      
