apiVersion: v1
kind: ConfigMap
metadata:
  name: filebeat-config
  namespace: observability
data:
  filebeat.yml: |
    filebeat.inputs:
      - type: filestream
        id: kubernetes-containers
        paths:
          - /var/log/containers/*.log
        parsers:
          - container: ~

    processors:
      - add_kubernetes_metadata:
          host: ${NODE_NAME}
          matchers:
            - logs_path:
                logs_path: "/var/log/containers/"

    output.elasticsearch:
      hosts: ["http://13.220.250.35:9200"]

    setup.kibana:
      host: "http://13.220.250.35:5601"
    



