apiVersion: apps/v1
kind: Deployment
metadata:
  name: jaeger
  namespace: observability
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jaeger
  template:
    metadata:
      labels:
        app: jaeger
    spec:
      containers:
      - name: jaeger
        image: jaegertracing/all-in-one:1.48
        ports:
        - containerPort: 16686  # UI
        - containerPort: 14268  # OTLP HTTP
        - containerPort: 4317   # OTLP gRPC
---
apiVersion: v1
kind: Service
metadata:
  name: jaeger
  namespace: observability
spec:
  type: NodePort
  selector:
    app: jaeger
  ports:
  - port: 16686
    targetPort: 16686
    nodePort: 31686
  - port: 4317
    targetPort: 4317
    nodePort: 31437