apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-collector-config
  namespace: observability
data:
  otel-collector-config.yaml: |
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317
          http:
            endpoint: 0.0.0.0:4318

      k8s_cluster:
        collection_interval: 10s

      hostmetrics:
        collection_interval: 10s
        scrapers:
          cpu:
          memory:
          disk:
          filesystem:
          network:
          load:

    processors:
      batch:

    exporters:
      otlp:
        endpoint: jaeger.observability.svc.cluster.local:14250
        tls:
          insecure: true

      prometheus:
        endpoint: "0.0.0.0:9464"

      # NEW: Jaeger exporter for traces
      jaeger:
        endpoint: jaeger.observability.svc.cluster.local:14250
        tls:
          insecure: true

    service:
      pipelines:
        traces:
          receivers: [otlp]
          processors: [batch]
          # changed from otlp to jaeger exporter only for traces
          exporters: [jaeger]

        metrics:
          receivers: [otlp, k8s_cluster, hostmetrics]
          processors: [batch]
          exporters: [prometheus]