apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-collector-config
  namespace: observability
data:
  otel-collector-config.yaml: |
    receivers:
      otlp:
        protocols:
          grpc:
          http:

      k8s_cluster:
        collection_interval: 10s

      hostmetrics:
        collection_interval: 10s
        scrapers:
          cpu:
          memory:
          disk:
          filesystem:
          network:

    processors:
      batch:

    exporters:
      otlp:
        endpoint: jaeger.observability.svc.cluster.local:14250
        tls:
          insecure: true

      prometheus:
        endpoint: "0.0.0.0:9464"

    service:
      pipelines:
        traces:
          receivers: [otlp]
          processors: [batch]
          exporters: [otlp]

        metrics:
          receivers: [otlp, k8s_cluster, hostmetrics]
          processors: [batch]
          exporters: [prometheus]