apiVersion: v1
kind: Secret
metadata:
  name: rabbitmq-secret
type: Opaque
data:
  # base64 encoded
  rabbitmq-username: YWRtaW4=                  # admin
  rabbitmq-password: U3Ryb25nUGFzc3dvcmQxMjMh  # StrongPassword123!
