apiVersion: apps/v1
kind: Deployment
metadata:
  name: ubuntu-ratings
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ubuntu-ratings
  template:
    metadata:
      labels:
        app: ubuntu-ratings
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8080"
        prometheus.io/path: "/metrics"   
    spec:
      containers:
        - name: ubuntu-ratings
          image: ubuntu-ratings:v2
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
          env:
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: mysql-root-password
            - name: MYSQL_DATABASE
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: mysql-database
            - name: MYSQL_USER
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: mysql-user
            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: mysql-password
            - name: MYSQL_HOST
              value: "mysql"    
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              value: "http://otel-collector.observability.svc.cluster.local:4317"
            - name: OTEL_TRACES_EXPORTER
              value: "otlp"
            - name: OTEL_METRICS_EXPORTER
              value: "otlp"  
            - name: OTEL_SERVICE_NAME
              value: "ratings"       
          
          resources:
            requests:
              cpu: "250m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"

---
apiVersion: v1
kind: Service
metadata:
  name: ratings
spec:
  selector:
    app: ubuntu-ratings
  ports:
    - port: 80
      targetPort: 80
  type: ClusterIP     
      
