apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
type: Opaque
data:
  # Base64 encoded values
  mysql-root-password: U3Ryb25nUGFzc3dvcmQxMjMh  # "StrongPassword123!"
  mysql-database: bXlkYg==                          # "mydb"
  mysql-user: bXl1c2Vy                                # "myuser"
  mysql-password: bXlwYXNzd29yZA==                  # "mypassword"
