apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
type: Opaque
data:
  # Base64 encoded values
  mysql-root-password: U3Ryb25nUGFzc3dvcmQxMjMh  # "StrongPassword123!"
  mysql-database: cmF0aW5ncw==                         # "ratings"
  mysql-user: bXl1c2Vy                                # "myuser"
  mysql-password: aWxvdmVpdA==                  # "iloveit"
