apiVersion: apps/v1
kind: Deployment
metadata:
  name: ubuntu-user
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ubuntu-user
  template:
    metadata:
      labels:
        app: ubuntu-user
    spec:
      containers:
        - name: ubuntu-user
          image: ubuntu-user:v1
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
            - name: MONGO_DATABASE
              value: users
            - name: MONGO_HOST
              value: mongodb
            - name: MONGO_PORT
              value: "27017"
            - name: MONGO_USERNAME
              valueFrom:
                secretKeyRef:
                  name: users-mongo-secret
                  key: username
            - name: MONGO_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: users-mongo-secret
                  key: password
            - name: REDIS_HOST
              value: redis
            - name: REDIS_PORT
              value: "6379"
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: redis-secret
                  key: redis-password
            - name: MONGO_AUTH_SOURCE
              value: "users"     
          resources:
            requests:
              cpu: "250m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"

       


---
apiVersion: v1
kind: Service
metadata:
  name: user
spec:
  selector:
    app: ubuntu-user
  ports:
    - port: 8080
      targetPort: 8080
  type: ClusterIP     
      
